{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login-Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="wrapper">
        <h1>Login</h1>
        <p></p>
        <input type="text" name="username" placeholder="Enter username" />
        <input type="password" name="password" placeholder="Password" />

        <div class="errormsg">
          {% for message in messages%}
          <h5>{{message}}</h5>
          {% endfor%}
        </div>

        <button type="submit">Sign in</button>
        <!-- <div class="no-account">
        Don't have account? <a href="#"><b>Register Now</b></a>
      </div> -->
      </div>
    </form>
  </body>
</html>
